<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.robor.messenger.regular"
    android:installLocation="auto">

    <application android:name="org.robor.messenger.ApplicationLoaderImpl" tools:replace="name">
        <service android:exported="true" android:name="org.robor.messenger.GoogleVoiceClientService"/>
        <activity
            android:name="org.robor.messenger.GoogleVoiceClientActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.voicesearch.SEND_MESSAGE_TO_CONTACTS" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
    </application>
</manifest>